<!-- Page Header Start-->
<div class="container-fluid page-header py-5" style="margin-bottom: 0rem;">
  <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
      <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
              <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">About</li>
          </ol>
      </nav>
  </div>
</div>
<!-- Page Header End -->

<div class="container-fluid overflow-hidden py-5 px-lg-0">
  <div class="container about py-5 px-lg-0">
      <div class="row g-5 mx-lg-0">
          <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
              <div class="position-relative h-100">
                  <img class="position-relative img-fluid w-70 h-100 mx-5" src="./assets/img/gallery/gallery-3.jpg" style="object-fit: cover;" alt="">
              </div>
          </div>
          <div class="col-lg-6 about-text wow fadeInUp text-white" data-wow-delay="0.3s">
              <h2 class="text-light text-center text-uppercase mb-3">About Us</h2>
              <h5 class="mb-5 text-center text-white">"Our Story: Committed to Your Fitness Journey."</h5>
              <p class="mb-5 text-center" style="text-align: justify;">"Founded with a passion for fitness and a dedication to our members, [Gym Haven] is where commitment meets results. Our mission is to empower lives through fitness excellence, providing you with the tools and support you need to achieve your best self."</p>
              <div class="row g-4 mb-5">
                  <div class="col-sm-6 wow fadeIn text-white" data-wow-delay="0.5s">
                      <i class="fa fa-globe fa-3x text-primary mb-3"></i>
                      <h5 class="text-white">"Empowering Lives Through Fitness Excellence."</h5>
                      <p class="mb-5 text-center" style="text-align: justify;">
                        "We're more than a gym; we're your partner in health, guiding you toward success."</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                      <i class="fa fa-shipping-fast fa-3x text-primary mb-3"></i>
                      <h5 class="text-white">On Time Delivery</h5>
                      <p class="m-0">"Your journey to a healthier, stronger you starts here, with [Gym Haven]."</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
