<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Welcome To Dashboard </h2>
                    <div class="breadcrumb-controls">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div style="text-align:center; color: rgb(200, 200, 214);"><h3> Trainers Table </h3> </div>
<table class=" container  table table-borderless  table-hover my-3 table-dark">
<thead>
    <tr class="table-darkgray ">
        <th>Trainer Name</th>
        <th>Email Id</th>
        <th>Contact</th>
        <th>Specialisations</th>
        <th>Certificates</th>
        <th>Experience</th>
     
    </tr>
</thead>

<tbody>
    <tr class="table-success">
        <td>Monty</td>
        <td>monty123@gmail.com</td>
        <td>9838478574</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="table-warning">
        <td>Monty</td>
        <td>monty123@gmail.com</td>
        <td>9838478574</td>
        <td></td>
       <td></td>
       <td></td>
    </tr>

    <tr class="table-danger">
        <td>Monty</td>
        <td>monty123@gmail.com</td>
        <td>9838478574</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr class="table-info">
        <td>Monty</td>
        <td>monty123@gmail.com</td>
        <td>9838478574</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    
</tbody>
    
  </table>