<!-- Header Section Begin -->
<header class="header-section header-normal">
    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html">
                <img src="../../../../assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a routerLink="/admin/dashboard">dashboard</a></li>
                        <li><a routerLink="/admin/manage-users">users</a></li>
                        <li><a routerLink="/admin/manage-package">package</a></li>
                        <li><a routerLink="/admin/manage-trainer">trainer</a>
                            <ul class="dropdown">
                                <li> <a routerLink="/admin/add-trainer">Add</a></li>
                            </ul>
                        </li>

                        <a routerLink="/login" class="btn btn-danger">Logout<i class="fa fa-arrow-right ms-3"></i></a>


                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->