<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2></h2>
                    <div class="breadcrumb-controls">
                        <a href="/admin/manage-package"><i class="fa fa-trainer"></i> Package</a>
                        <span>Add Package</span>
                        <h2>Adding Packages</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-section spad text-white">
            <div class="container">
                <div class="text-center"> <h2>Package Details</h2></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form (ngSubmit)="submit()"> 
                    <input type="text" class="form-control m-3" id="name" name="name" [(ngModel)]="package.Package_name" placeholder="Package_name">
                    <input type="number" class="form-control m-3" id="duration" name="duration" [(ngModel)]="package.duration" placeholder="duration">
                    <input type="text" class="form-control m-3"id="time_period" name="time_period" [(ngModel)]="package.time_period" placeholder="Time Period">
                    <input type="number" class="form-control m-3" id="price" name="price" [(ngModel)]="package.price" placeholder="Price">
                    <!-- <select name="Certifications" class="form-control m-3">
                        <option value="1">Diploma</option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option selected disabled>Select one</option>

                    </select> -->
                       
                    <button type="submit" class="btn btn-danger m-3">Add</button>
                    <div class="col-3"></div>
                </form>
            </div>
        </div>
    </div>
</section>



