<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2></h2>
                    <div class="breadcrumb-controls">
                        <a href="/admin/manage-package">Package</a>
                        <span>Update Package</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="blog-section spad text-white">
    <div class="container">
        <div class="text-center mt-0"><h2>Update Package</h2></div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form> 
            <input type="text" class="form-control m-3" placeholder="Package Name">
            <input type="numbers" class="form-control m-3" placeholder="duration">
            <input type="text" class="form-control m-3" placeholder="Time Period">
            <input type="numbers" class="form-control m-3" placeholder="Price">
            <!-- <select name="Certifications" class="form-control m-3">
                <option value="1">Diploma</option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option selected disabled>Select one</option>

            </select> -->

            <button routerLink="/admin/manage-package" type="submit" class="btn btn-danger m-3 p-2">Update</button>
            <div class="col-3"></div>
        </form>
    </div>
</div>
</div>
</section>