<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>LOGIN</h2>
                    <div class="breadcrumb-controls">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Schedule</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="map-contact-form">
                    <h5>Login</h5>
                    <form [formGroup]="loginForm">
                        
                        <input type="email" formControlName="email" placeholder="Email">
                        <input type="password" class="phone" formControlName="password" placeholder="Password">
                        <!-- <textarea placeholder="Message"></textarea> -->
                        <button type="submit" [disabled]="loginForm.invalid" class="site-btn">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>