<!-- Page Header Start-->
<div class="container-fluid page-header py-5" style="margin-bottom: 0rem;">
    <div class="container py-5">
      <h1 class="display-3 text-white text-center mb-3 animated slideInDown">Booking Status</h1>
    </div>
  </div>
  <!-- Page Header End -->
  
  <div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
      <div class="row g-5 mx-lg-0">
        <div class="col-lg-10 mx-auto ps-lg-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row d-flex">
                <div class="col-md-12 mx-auto table-responsive justify-content-center">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Service Name</th>
                                <th>Package Name</th>
                                <th>Price</th>
                                <th>Booking Date</th>
                                <th>Booking Status</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of bookings;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{data.serviceName}}</td>
                                <td>{{data.packageName}}</td>
                                <td>{{data.price | currency :'INR'}}</td>
                                <td>{{data.bookingDate}}</td>
                                <td>{{data.bookingStatus}}</td>
                                <td>{{getdate(data.created)}}</td>
                                <td>
                                    <span *ngIf="data.bookingStatus == 'Pending'" (click)="can(data)"><i class="fa fa-times fa-2x text-danger" title="Cancel"></i></span>
                                    <span *ngIf="data.bookingStatus == 'Cancelled By User'">Cancelled</span>
                                    <span *ngIf="data.bookingStatus == 'Cancelled By Admin'">Cancelled</span>
                                    <span *ngIf="data.bookingStatus == 'Approved By Admin'">Approved</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>