<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Welcome To Dashboard </h2>
                    <div class="breadcrumb-controls">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-section spad text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-borderless  table-hover my-3 table-light">
                    <thead>
                        <tr>
                            <th> Name</th>
                            <th>Email Id</th>
                            <th>Contact</th>
                            <th>Height</th>
                            <th>Weight</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Monty</td>
                            <td>monty123@gmail.com</td>
                            <td>9838478574</td>
                            <td>4.5 Feet</td>
                            <td>52 kg</td>
                        </tr>

                        <tr>
                            <td>Monty</td>
                            <td>monty123@gmail.com</td>
                            <td>9838478574</td>
                            <td>4.5 Feet</td>
                            <td>52 kg</td>
                        </tr>

                        <tr>
                            <td>Monty</td>
                            <td>monty123@gmail.com</td>
                            <td>9838478574</td>
                            <td>4.5 Feet</td>
                            <td>52 kg</td>
                        </tr>

                        <tr>
                            <td>Monty</td>
                            <td>monty123@gmail.com</td>
                            <td>9838478574</td>
                            <td>4.5 Feet</td>
                            <td>52 kg</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>