<!-- Breadcrumb Section Begin -->


<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Welcome To Dashboard </h2>
                    <div class="breadcrumb-controls">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



 <!-- About Section Begin -->
 <section class="home-about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>WELCOME TO CROSSFIT</h2>
                    <p class="short-details">CrossFit is a cutting-edge functional fitness system that can help
                        everyday men.</p>
                    <p class="long-details">Success isn’t really that difficult. There is a significant portion of
                        the population here in North America, that actually want and need success to be hard! For
                        those of you who are serious about having more, doing more, giving more and being more.</p>
                    <a href="#" class="primary-btn about-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/img/home-about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->



