<section class="breadcrumb-section set-bg spad" style="background-image: url(assets/img/about-bread.jpg)">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2></h2>
                    <div class="breadcrumb-controls">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-section spad text-white">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form>
                    <input type="text" class="form-control m-3" placeholder="Enter your Name">
                    <input type="email" class="form-control m-3" placeholder="Enter your email-id">
                    <input type="number" class="form-control m-3" placeholder="Enter Contact details">
                    <input type="text" class="form-control m-3" placeholder="Enter the Experience">
                    <button type="submit" class="btn btn-danger m-3 p-4">Update Trainer</button>
                </form>
                <div class="col-3"></div>

            </div>
        </div>
    </div>
</section>



