
<!-- Page Header Start-->
<div class="container-fluid page-header py-5" style="margin-bottom: 0rem;">
    <div class="container py-5">
        <h1 class="display-3 text-white  text-center mb-3 animated slideInDown">Dashboard</h1>
    </div>
  </div>
  <!-- Page Header End -->
  <section style="background-color: #000000;">
    <div class="container py-5">
        <div class="row g-3 mt-5 justify-content-center">
            <!-- First Row -->
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Category</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalCategories }}</strong></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Products</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalProducts }}</strong></h1>
                    </div>
                </div>
            </div>

            <!-- Second Row -->
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Services</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalServices }}</strong></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card text-white bg-secondary mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Packages</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalPackages }}</strong></h1>
                    </div>
                </div>
            </div>

            <!-- Third Row -->
            <div class="col-md-4 mt-5">
                <div class="card text-white bg-info mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Users</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalUsers }}</strong></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card text-white bg-warning mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header text-center"><strong>Total Bookings</strong></div>
                    <div class="card-body">
                        <h1 class="card-title text-center text-white"><strong>{{ totalBookings }}</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  