<!-- Header Section Begin -->
<header class="header-section header-normal">
    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html">
                <img src="../../../../assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a routerLink="/user/home">Home</a></li>
                        <li><a routerLink="/user/about-us">About us</a></li>
                        <li><a routerLink="/user/schedule">Schedule</a></li>
                        <li><a routerLink="/user/gallery">Gallery</a></li>
                        <li><a routerLink="/user/blog">Blog</a>
                            <ul class="dropdown">
                                <li><a routerLink="/user/about-us">About Us</a></li>
                                <li><a routerLink="/user/blog-single">Blog Details</a></li>
                            </ul>
                        </li>
                        <li *ngIf="!login"><a routerLink="/user/register">Register</a></li>
                        <li><a routerLink="/user/contact">Contacts</a></li>
                        <li *ngIf="!login" ><a routerLink="/login" >Login</a></li>
                        <a routerLink="/login" *ngIf="login">Logout<i class="fa fa-arrow-right ms-3"></i></a>


                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->