<!-- Carousel Start-->
    <div class="container-fluid p-0 mb-5">
  <!---- <div class="owl-carousel header-carousel position-relative">
              <img class="img-fluid" src="/assets/img/carousel-2.jpg" alt="">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-10 col-lg-8">
                              <h5 class="text-white text-uppercase mb-3 animated slideInDown">Transport & Logistics Solution</h5>
                              <h1 class="display-3 text-white animated slideInDown mb-4">#1 Place For Your <span class="text-primary">Logistics</span> Solution</h1>
                              <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                              <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                              <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                          </div>
                      </div>
                  </div>
              </div>-->
          <div class="owl-carousel-item position-relative">
              <img class="img-fluid mb-5 w-100 d-flex " src="/assets/img/video-bg.jpg" alt="">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                  <div class="container h-100 pt-5">
                      <div class="row justify-content-start">
                          <div class="col-10 col-lg-8">
                              <h5 class="text-white text-uppercase mb-3 animated slideInDown">Gym Haven And Nutrition</h5>
                              <h1 class="display-3 text-white animated slideInDown mb-4">#1 Place For Your <span class="text-primary">Fitness</span> Solution</h1>
                              <p class="fs-5 fw-medium text-white mb-4 pb-2">"Unleash Your Potential, Transform Your Body."</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

 <!---Carousel End -->
<!-- Team Start -->
<div class="container-xxl py-5 bg-black">
  <div class="container py-5 bg-black">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="text-secondary text-uppercase text-light">"Welcome to Gym Haven, your ultimate destination for fitness and well-being. Our state-of-the-art facility offers a wide range of equipment, expert trainers, and diverse classes to help you achieve your fitness goals. Join us on your journey to a healthier, happier you!"</h5>
          <h1 class="mb-5 mt-5 text-light">Expert Team Members</h1>
      </div>
      <div class="row g-4 bg-black">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item p-4 bg-light">
                  <div class="overflow-hidden mb-4">
                      <img class="img-fluid" src="/assets/img/trainer/trainer-1.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Full Name</h5>
                  <p>Designation</p>
                  <div class="btn-slide mt-1">
                      <i class="fa fa-share"></i>
                      <span>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item p-4 bg-light">
                  <div class="overflow-hidden mb-4">
                      <img class="img-fluid" src="/assets/img/trainer/trainer-2.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Full Name</h5>
                  <p>Designation</p>
                  <div class="btn-slide mt-1">
                      <i class="fa fa-share"></i>
                      <span>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item p-4 bg-light">
                  <div class="overflow-hidden mb-4">
                      <img class="img-fluid" src="/assets/img/trainer/trainer-3.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Full Name</h5>
                  <p>Designation</p>
                  <div class="btn-slide mt-1">
                      <i class="fa fa-share"></i>
                      <span>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
              <div class="team-item p-4 bg-light">
                  <div class="overflow-hidden mb-4">
                      <img class="img-fluid" src="/assets/img/trainer/trainer-4.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Full Name</h5>
                  <p>Designation</p>
                  <div class="btn-slide mt-1">
                      <i class="fa fa-share"></i>
                      <span>
                          <a href=""><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-twitter"></i></a>
                          <a href=""><i class="fab fa-instagram"></i></a>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Team End -->


<!-- Testimonial Start --
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="text-center">
          <h6 class="text-secondary text-uppercase">Testimonial</h6>
          <h1 class="mb-0">Our Clients Say!</h1>
      </div>
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
          <div class="testimonial-item p-4 my-5">
              <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
              <div class="d-flex align-items-end mb-4">
                  <img class="img-fluid flex-shrink-0" src="/assets/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                  <div class="ms-4">
                      <h5 class="mb-1">Client Name</h5>
                      <p class="m-0">Profession</p>
                  </div>
              </div>
              <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
          </div>
          <div class="testimonial-item p-4 my-5">
              <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
              <div class="d-flex align-items-end mb-4">
                  <img class="img-fluid flex-shrink-0" src="/assets/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                  <div class="ms-4">
                      <h5 class="mb-1">Client Name</h5>
                      <p class="m-0">Profession</p>
                  </div>
              </div>
              <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
          </div>
          <div class="testimonial-item p-4 my-5">
              <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
              <div class="d-flex align-items-end mb-4">
                  <img class="img-fluid flex-shrink-0" src="/assets/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                  <div class="ms-4">
                      <h5 class="mb-1">Client Name</h5>
                      <p class="m-0">Profession</p>
                  </div>
              </div>
              <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
          </div>
          <div class="testimonial-item p-4 my-5">
              <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
              <div class="d-flex align-items-end mb-4">
                  <img class="img-fluid flex-shrink-0" src="/assets/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                  <div class="ms-4">
                      <h5 class="mb-1">Client Name</h5>
                      <p class="m-0">Profession</p>
                  </div>
              </div>
              <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
          </div>
      </div>
  </div>
</div>-->
<!-- Testimonial End -->


